<html>
<link href="../style.css" rel="stylesheet">

<head>
    <h1>Validation des réservations</h1>
</head>

<body>
    <h2><strong>Destination : <%=reservation.destination%></strong></h2>
    <h2><strong>Liste des passagers</strong></h2>
    <ul>
        <% for(var i=0; i < traveler.name.length; i++ ) { %>
            <li>
                <%=traveler.name[i]%>
                    <%=traveler.age[i]%> ans
            </li>
            <% } %>
    </ul>
    <form>
        <input type="submit" value="Etape suivante">
        <input type="button" value="Annuler la Réservation">
    </form>

</body>

</html>